* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: url(../img/fondo.svg) no-repeat center center fixed;
    background-size: cover;
}